* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;


}
.canvas-container {
    height: 80vh;
    width: 100vh;
}
#canvas {
    border: 3px solid white;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 800px;
    height: 450px;
    transform: translate(-50%,-50%);
}

h1 {
    position: absolute;
    z-index: 122s;
}
.quotes-container {
    margin: 20px;
}
.quotes-container img {
    height: 300px;
    width: ;
}
