* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.canvas-container {
    height: 80vh;
    width: 100vw;
    background-color: green;
}
#canvas-1 {
    z-index: 1;
    position: absolute;
    background: rgb(201, 166, 166);
    width: 100vw;
    height: 80vh;
    top: 0;
    left: 0;
}
.quotes-container {
    background-color: rgb(49, 46, 40);
    color: white;

    width: 100vw;
    min-height: 200px;
 

}
.quotes-container h2 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.quotes-container > div {
    width: 50vw;
    display: flex;
    padding: 20px;
    
}
.quotes-container img {
    padding: 30px;
    height: 300px;
    width: 400px;
    object-fit: cover;
}
/* 
@keyframes text {
    0% {
        top: -100px;
    }
    100% {
        top: 0;
    }
} */
